.forecast {
    color:  #c6c6c6;
    text-align: center;
}
.forecast-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px; 

}

.forecast-card {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 10px; 
    padding: 10px;
    text-align: center;
    flex: 0 0 auto; 
    width: 120px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.forecast-date p {
    font-size: 14px;
    margin: 0;
}

.forecast-temp h3 {
    margin: 10px 0;
    font-size: 18px;
}

/* Condition styling */
.forecast-condition p {
    font-size: 14px;
    margin: 0;
}

.forecast-icon img {
    width: 50px; 
}
