

.weather-card {
    color: #fff;
    font-size: x-large;
    max-width: 700px;
    height: 400px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-card .mainInfo {
    width: 100%;
    margin: 1rem auto;
}

.weather-card .description {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    border-radius: 12px;
    background-color: rgba(255,255,255, 0.2);
}

.bold {
    font-weight: 700;
}