
.App-header {
  justify-content: center;
  font-size: calc(5px + 2vmin);
}
.app{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
}

.app:before {
  content: '';
  background: url('./assets/Pigeon Forge Hotel on the Parkway - Vacation Lodge.jpeg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
}
